{% extends 'base.html' %}
{% block body %}
<h1>Please log in</h1>
<h2>Select Quiz master or quizzee</h2>
<table>
    <tbody>
        <tr>
            <td><form method = "post" action = "/admin"> 
                <button type = "submit" class = "loginbutton">Quiz Master</button>
            </form></td>
        </tr>
        <tr>
            <td><form method = "post" action = "/quizzee"> 
                <button type = "submit" class = "loginbutton">Quizzee</button>
                </form>
            </td>
        </tr>
    </tbody>
{% endblock %}